*{
	margin: 0;
	padding: 0;
}

#header{
	text-align: center;
	height: 100vh;
	background-image: url("images/header2.png");
	background-size: cover;
	border-bottom: ridge crimson 10px;
}

#nav{
	background-color: white;
	width: 100%;
	position: fixed;
	height: 60px;
	line-height: 50px;
	text-align: center;
}

#navText{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font: 24px Tahoma;
}

#nav li{
	display: inline;

}

#wrapper{
	width: 100%;
	margin: 0 auto;
}



#content1{
	font: 14px Tahoma;
	background-color: maroon;
	padding: 30px;
	height: 100vh;
	border-top: #a2ad30 ridge 10px;
	border-bottom: #00abab groove  10px;

}

#content2{
	font: 14px Tahoma;
	background-color: #00abab;
	padding: 30px;
	height: 100vh;
	border-bottom: groove yellow 10px;
	border-top: groove crimson 10px ;
}

#content3{
	font: 14px Tahoma;
	background-color: yellow;
	padding: 30px;
	height: 100vh;
	border-top: #00ffff groove 10px;
    border-bottom: #36c500 ridge 10px;
}


#content4{
	font: 14px Tahoma;
	background-color: green;
	padding: 30px;
	height: 100vh;
	border-top: yellow ridge 10px;
    border-bottom: darkblue groove 10px;
}


#footer{
	font: 20px Tahoma;
	text-align: center;
	background-image: url("images/footer.png");
	background-size: cover;
	height: 100px;
    border-top: green ridge 10px;
}

a{
	text-decoration: none;
}