*{
	margin: 0;
	padding: 0;
}

#header{
	font: 20px Tahoma;
	text-align: center;
	background-color: sienna;
}

#wrapper{
	min-height:  100%;
	height: 100%;
	margin: 0 auto -155px;
	margin-top: 60px;
	margin-bottom: 60px;
}
#About us{
	font: 14px Tahoma;
	background-color: transparent;
}
#con1{
	font: 14px Tahoma;
	background-color: maroon ;
}

#con2{
	font: 14px Tahoma;
	background-color: cyan;
}

#con3{
	font: 14px Tahoma;
	background-color: purple;
}

#con4{
	font: 14px Tahoma;
	background-color: yellow;
}

#footer{
	text-align: center;
}
