*{
	margin: 0;
	padding: 0;
}

#header{
	font: 20px Tahoma;
	text-align: center;
	background-color: sienna;
}

#wrapper{
	width: 900px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: orangered;
}

#con1{
	font: 14px Tahoma;
	background-color: maroon ;
}

#con2{
	font: 14px Tahoma;
	background-color: cyan;
}

#con3{
	font: 14px Tahoma;
	background-color: purple;
}

#con4{
	font: 14px Tahoma;
	background-color: yellow;
}

#footer{
	font: 20px Tahoma;
	text-align: center;
	background-color: blue;
	height: 50px;
}