*{
	margin: 0;
	padding: 0;
}


/*  NAVIGATIEMENU en INTRO AFBEELDING  */

#header{
	text-align: center;
	height: 100vh;
	background-image: url("images/header2.png");
	background-size: cover;
	border-bottom: ridge crimson 10px;
}

#nav{
	background-color: rgba(0,0,0,0.29);
	width: 100%;
	position: fixed;
	height: 60px;
	line-height: 50px;
	text-align: center;
}

#navText{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font: 24px Tahoma;

}

#nav li{
	display: inline;
    margin-left: 3px;
    padding: 3px;
}

/*  CENTREREN PAGINA  */

#wrapper{
	width: 100%;
	margin: 0 auto;
}


/*  CONTENT BLOCK 1 - PRODUCT  */

#content1{
	font: 14px Tahoma;
	background-image: url("images/mars123.jpg");
	padding: 30px;
	height: 100vh;
	border-top: #a2ad30 ridge 10px;
	border-bottom: #bf5b1b ridge 10px;

}

#content1 table{
	width: 90%;
	margin-left: auto ;
	margin-right: auto;
}

#content1 td.Producttd1{
	width: 39%;
}

#content1 td.Producttd2{
	width: 61%;
}

#productText{
	width: 50%;
}

/*  CONTENT BLOCK 2 - HOW IT WORKS  */

#content2{
	font: 14px Tahoma;
	background-color: saddlebrown;
	padding: 30px;
	height: 100vh;
	border-bottom: groove sandybrown 10px;
	border-top: groove crimson 10px ;
}

/*  CONTENT BLOCK 3 - WHY  */

#content3{
	font: 14px Tahoma;
    background-image: url("images/mars2.jpg");
	padding: 30px;
	height: 100vh;
	border-top: #bf5b1b groove 10px;
    border-bottom: #54381e groove 10px;
}

/*  CONTENT BLOCK 4 - ABOUT US  */

#content4{
	font: 14px Tahoma;
	background-color: #54381e;
	padding: 30px;
	height: 100vh;
	border-top: sandybrown ridge 10px;
    border-bottom: darkblue groove 10px;
	text-align: center;
}

#content4 table{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#content4 td{
	width: 10%;
	font: 20px Tahoma;
	padding: 5px;
}

#content4 img{
	width: 100%;
}

#content4 td.aboutDes{
	font: 12px Tahoma;
}

/*  FOOTER  */

#footer{
	font: 20px Tahoma;
	text-align: center;
	background-image: url("images/footer.png");
	background-size: cover;
	height: 100px;
    border-top: #54381e ridge 10px;
}

/*  LINKS EN NAVIGATIEMENU BUTTONS  */

a{
	text-decoration: none;
}

.myButton {
     -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
     -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
     box-shadow:inset 0px 1px 0px 0px #a6827e;
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
     background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
     background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
     background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
     background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
     background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
     background-color:#7d5d3b;
     -moz-border-radius:3px;
     -webkit-border-radius:3px;
     border-radius:3px;
     border:1px solid #54381e;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:13px;
     padding:6px 24px;
     text-decoration:none;
     text-shadow:0px 1px 0px #bd5ebd;
}

.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
    background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
    background-color:#634b30;
}

.myButton:active {
    position:relative;
    top:1px;
}


/*  TEKST EN LETTERTYPES  */

.Text{
    font-size: 50px;
	display: inline-block;
}

.Text1 {
    font-size: 18px;
}

.Text2 {
    font-size: 18px;
    color: white;
}

/*  AFBEELDINGEN  */

.Mars {
    width: 300px;

}